{#  extends : héritage d'un template parent #}
{% extends 'base.html.twig' %}

{# remplir le bloc body contenu dans le template parent #}
{% block body %}
	<div class="row">
		<div class="col">
			<h1>Équipe</h1>

			{#{ dump(list) }#}

			{# list est envoyé par le contrôleur #}
			{% for member in list %}
				<p>
					<a href="{{ url('team.details', { firstname: member.firstname, lastname: member.lastname } ) }}">
						{# l'utilisation des parenthèses crée un groupe #}
						{{ (member.firstname ~ ' ' ~ member['lastname']) | title }}
					</a>
					{#<a href="#">{{ member.firstname }} {{ member['lastname'] }}</a>#}
				</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{# remplir le titre de la page #}
{% block title %}
	Hitema
{% endblock %}


