{# firstname est la clé du tableau associatif envoyée par le contrôleur #}
<h1>Bonjour {{ firstname }} {{ lastname }}</h1>

{# ~ : concaténation #}
<h1>Bonjour {{ firstname ~ ' / ' ~ lastname }}</h1>