{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			<h1>Administration</h1>
			<p>
				<a href="{{ url('admin.product.index') }}">Gérer les produits</a>
			</p>
		</div>
	</div>
{% endblock %}

