{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			<h1>Gestion des produits</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			formulaire
		</div>
	</div>
{% endblock %}







