{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			<h1>Gestion des produits</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">

			{% include '_inc/flash.messages.html.twig' %}

			<p class="text-right">
				<a href="{{ url('admin.product.form') }}" class="btn btn-primary">Ajouter</a>
			</p>
			<table class="table table-striped">
				<tr>
					<th>Image</th>
					<th>Nom</th>
					<th>Prix</th>
					<th></th>
				</tr>
				{% for product in results %}
					<tr>
						<td class="w-25">
							<img src="{{ asset('img/product/' ~ product.image) }}" class="img-fluid" alt="">
						</td>
						<td>{{ product.name }}</td>
						<td>{{ product.price }}€</td>
						<td class="text-right">
							<a href="#" class="btn btn-warning">Modifier</a>
							<a href="#" class="btn btn-danger">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}







